.DS_Store
.project
.pydevproject
.gitignore
*.prefs
.project
.settings
bower_components
.idea
node_modules
.sass-cache
src/.tmp/persian-datepicker.js

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
